<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.studystory.admin">

<select id="loginValid" resultType="Integer" parameterType="kr.co.studystory.admin.vo.LoginVO" >
	select count(*)
	from ADMIN_USER 
	where id=#{id} and pass=#{pass}
</select>
	
</mapper>
