<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.studystory.common_bbs">

	<select id="selectNewAlarms" resultType="kr.co.studystory.domain.NewAlarm" parameterType="String">
		SELECT A_NUM, CATEGORY, SUBJECT, TO_CHAR(INPUT_DATE, 'yyyy-mm-dd') INPUT_DATE
		FROM ( SELECT A_NUM, CATEGORY, SUBJECT, INPUT_DATE, ROW_NUMBER() OVER( ORDER BY INPUT_DATE DESC ) R_NUM
		       FROM ALARM
		       WHERE ID=#{ id } AND READ_FLAG ='N')
		WHERE R_NUM BETWEEN 1 AND 3
	</select>
	
	<select id="selectAlarmTotal" resultType="int" parameterType="String">
		SELECT COUNT(*) cnt
		FROM alarm
		WHERE id=#{ id }
	</select>
	
	<select id="selectAlarmBbs" parameterType="kr.co.studystory.vo.AlarmBbsVO" 
		resultType="kr.co.studystory.domain.Alarm">
		SELECT a_num, category, subject, TO_CHAR(INPUT_DATE, 'yyyy-mm-dd') input_date, read_flag
		FROM ( SELECT A_NUM, CATEGORY, SUBJECT, INPUT_DATE, READ_FLAG, ROW_NUMBER() OVER( ORDER BY READ_FLAG, INPUT_DATE DESC ) R_NUM
		       FROM ALARM
		       WHERE ID=#{ id })
		WHERE R_NUM BETWEEN #{ begin } AND #{ end }
	</select>
	
	<select id="selectDetailAlarm" parameterType="String" resultType="kr.co.studystory.domain.DetailAlarm">
		SELECT  subject, category, content, input_date
		FROM alarm
		WHERE a_num=#{ a_num }
	</select>
	
	<update id="updateReadFlag" parameterType="String">
		UPDATE alarm
		SET read_flag='Y'
		WHERE a_num=#{ a_num }
	</update>
	
	<select id="selectNoticeTotal" resultType="int">
		SELECT COUNT(*) cnt
		FROM notice
	</select>
	
	<select id="selectNoticeBbs" parameterType="kr.co.studystory.vo.NoticeBbsVO"  resultType="kr.co.studystory.domain.Notice">
		SELECT n_num, subject, TO_CHAR(INPUT_DATE, 'yyyy-mm-dd') input_date, view_cnt
		FROM ( SELECT n_num, subject, INPUT_DATE, view_cnt, ROW_NUMBER() OVER( ORDER BY INPUT_DATE DESC ) R_NUM
		       FROM notice)
		<where>
			<choose>
				<when test='searchWord == ""'>
					R_NUM BETWEEN #{ begin } AND #{ end }
				</when>
				<otherwise>
					R_NUM BETWEEN #{ begin } AND #{ end }
						AND subject LIKE '%'||#{ searchWord }||'%'
				</otherwise>
			</choose>
		</where>
	</select>
	
	<update id="updateViewCnt" parameterType="String">
		UPDATE notice
		SET view_cnt=view_cnt+1
		WHERE n_num=#{ n_num }
	</update>
	
	<select id="selectQuestionTotal" resultType="int">
		SELECT COUNT(*) cnt
		FROM question
		WHERE id=#{ id }
	</select>
	
	
	

</mapper>