<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.studystory.modify_user">
	<sql id="condition_id_and_pass">
		WHERE id=#{ id } AND pass=#{ pass }
	</sql>
	
	<select id="selectPrevUserInfo" parameterType="String" resultType="kr.co.studystory.domain.PrevUserInfo">
		SELECT name, zipcode, addr1, addr2, tel, email
		FROM user_table
		WHERE id=#{ id }
	</select>
	
	<update id="updateUserInfo" parameterType="kr.co.studystory.vo.ModifiedUserInfoVO">
		UPDATE user_table
		SET name=#{ name }, zipcode=#{ zipcode }, addr1=#{ addr1 }, 
					addr2=#{ addr2 }, tel=#{ tel }, email=#{ email }
		<include refid="condition_id_and_pass"/>
	</update>
	
	<update id="updateNewPass" parameterType="kr.co.studystory.vo.ModifiedPassVO">
		UPDATE user_table
		SET pass=#{ newPass }
		<include refid="condition_id_and_pass"/>
	</update>
		
	<update id="updateDeactive" parameterType="kr.co.studystory.vo.OutVO">
		UPDATE user_table
		SET deactivation='Y'
		<include refid="condition_id_and_pass"/>
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member
		WHERE id=#{ id }		
	</delete>
	
	<delete id="deleteJoin" parameterType="String">
		DELETE FROM join
		WHERE id=#{ id }
	</delete>
	
	<delete id="deleteFav" parameterType="String">
		DELETE FROM fav_study
		WHERE id=#{ id }
	</delete>
</mapper>