<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.studystory.study_notice_mapper">

<!--컬럼과 도메인의 값이 다르기 때문에 맞춰줌  -->
<resultMap type="kr.co.studystory.domain.StudyNotice" id="snList">
	<result column="sn_num" property="snNum"/>
	<result column="img" property="img"/>
	<result column="subject" property="subject"/>
	<result column="input_date" property="inputDate"/>
</resultMap>

<select id="studyNoticeList" resultMap="snList" parameterType="String">
select img, sn_num, subject, input_date
from (select s.s_num, ut.img
       from study s, user_table ut
       where s_num=#{ sNum } AND s.id = ut.id) ss, study_notice sn
where sn.s_num = #{ sNum }
order by input_date desc
</select>

<resultMap type="kr.co.studystory.domain.DetailStudyNotice" id="snDtList">
	<result column="subject" property="subject"/>
	<result column="content" property="content" jdbcType="CLOB"  javaType="java.lang.String" />
	<result column="nick" property="nick"/>
	<result column="img" property="img"/>
	<result column="meeting_info" property="meetingInfo"/>
	<result column="addr" property="addr"/>
	<result column="input_date" property="input_date"/>
</resultMap>
<select id="studyDetailNoticeList" resultMap="snDtList" parameterType="String">
select sn.subject, to_char(sn.content) , sn.meeting_info, sn.addr, to_char(sn.input_date,'yyyy-MM-dd') input_date, ut.nick, ut.img
from study_notice sn, study s, user_table ut
where  s.id=ut.id and s.s_num=sn.s_num and sn.sn_num=#{snNum}	
	
</select> 

<select id="HomeworkList" resultType="kr.co.studystory.domain.Homework" parameterType="String">
	select hw.id, hw.workload, hw.finish_flag, ut.nick
	from homework hw, user_table ut
	where hw.id = ut.id and sn_num=#{snNum}
</select>

<!--comment 조회  -->
<resultMap type="kr.co.studystory.domain.SnComment" id="snCommentList">
	<result column="sn_comment" property="SnComment"/>
	<result column="input_date" property="inputDate"/>
	<result column="nick" property="nick"/>
</resultMap>

<select id="SnCommentList" resultMap="snCommentList">
	select sc.sn_comment, sc.input_date, ut.nick
	from sn_comment sc, user_table ut
	where sc.id= ut.id and sn_num=#{snNum}
</select>

<update id="updateHomework" parameterType="kr.co.studystory.vo.">
	update

</update>


<insert id="insertSnComment" parameterType="kr.co.studystory.vo.NewCommentVO">
	insert into SN_COMMENT (SN_NUM, SN_COMMENT, ID)
	values(#{ snNum },#{ snComment} ,#{ id })

</insert>
<update id="updateRecruit" parameterType="kr.co.studystory.vo.RecruitVO">
	UPDATE study
	SET recruitment=#{ status }
	WHERE s_num=#{ sNum }
</update>

<select id="selectAllMember" parameterType="String" resultType="kr.co.studystory.domain.NickAndId">
	SELECT nick, m.id
	FROM user_table u, member m
	WHERE m.s_num=#{ id } AND m.id = u.id
</select>

</mapper>