<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--쿼리문을 정의  
  	namespace : XML내에서 중복된 id를 사용할 수 있도록 구분하는 것.
  					(패키지와 비슷한 용도)
  -->

<mapper namespace="kr.co.studystory.study_group">
	
	
	
	<select id="selectMemberList"  resultType="kr.co.studystory.domain.MemberWithImg" parameterType="String">
<!-- 	 select nick, tel, img
	from user_table  -->
	
 	 select ut.nick nick, ut.tel tel, ut.img img
	from user_table ut, member m
	where m.s_num=#{sNum} and ut.id=m.id 
	<!-- 화면 띄우기 뷰 수정을 위해 조건을 막아줌 . member가 별로 없어서  -->  
	</select>
	  

	<resultMap type="kr.co.studystory.domain.PrevStudyInfo" id="studyResult">
		<result column="study_name" property="name"/>
		<result column="loc" property="loc"/>
		<result column="category" property="category"/>
		<result column="content" property="content"/>
		<result column="img" property="img"/>
	</resultMap>
	
	<select id="selectDupStudyName" parameterType="String" resultType="int">
		select count(*) cnt
		from study
		where study_name=#{ study_name }
	</select>	
	
  <insert id="insertStudy" parameterType="kr.co.studystory.vo.NewStudyVO">
    insert into study(s_num, study_name, loc, category, content, img, id, deactivation, delete_flag)
	  values(s_code, #{ study_name }, #{ loc }, #{ category }, #{ content }, #{ img }, #{ id }, 'N', 'N')
  </insert>
  
  <!-- <select id="selectPrevStudyInfo" resultMap="studyResult" >
 	select study_name, loc, category, content, img
	from study
	where id=#{id}
  </select> -->
  
  <update id="updateStudy" parameterType="kr.co.studystory.vo.ModifiedStudyVO">
  update study
  set 		content=#{content}, img=#{img}
  where s_num=#{sNum}
  </update>

  <!-- <select id="selectLeaderId">
  		
  </select> -->
  
  <insert id="insertLeaveAlarm" parameterType="kr.co.studystory.vo.LeaveAlarmVO">
   insert into alarm(leaderId, reason, category, subject, content)
   values (#{leaderId}, #{reason}, #{category}, #{subject}, #{content})
  </insert>
  
  <delete id="deleteStudy" parameterType="kr.co.studystory.vo.LeaveStudyVO">
  delete from study
  where id=#{id}
  </delete> 
</mapper>