<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.studystory.study_notice_mapper">

<!--컬럼과 도메인의 값이 다르기 때문에 맞춰줌  -->
<resultMap type="kr.co.studystory.domain.StudyNotice" id="snList">
	<result column="sn_num" property="snNum"/>
	<result column="img" property="img"/>
	<result column="subject" property="subject"/>
	<result column="input_date" property="inputDate"/>
</resultMap>

<select id="studyNoticeList" resultMap="snList" parameterType="String">
select img, sn_num, subject, input_date
from (select s.s_num, ut.img
       from study s, user_table ut
       where s_num=#{snNum} AND s.id = ut.id) ss, study_notice sn
where sn.s_num = #{snNum}
order by input_date desc
</select>

<resultMap type="kr.co.studystory.domain.DetailStudyNotice" id="snDtList">
	<result column="subject" property="subject"/>
	<result column="content" property="content" jdbcType="CLOB"  javaType="java.lang.String" />
	<result column="nick" property="nick"/>
	<result column="img" property="img"/>
	<result column="meeting_info" property="meetingInfo"/>
	<result column="addr" property="addr"/>
	<result column="input_date" property="input_date"/>
</resultMap>
<select id="studyDetailNoticeList" resultMap="snDtList" parameterType="String">
select sn.subject, to_char(sn.content) , sn.meeting_info, sn.addr, sn.input_date, ut.nick, ut.img
from study_notice sn, study s, user_table ut
where  s.id=ut.id and s.s_num=sn.s_num and sn.sn_num=#{snNum}	
	
</select> 




</mapper>